body {
  background-color: rgb(238, 232, 199);
}

.sub-color {
  background-color: rgb(226, 219, 177);
}

.ac-color {
  background-color: rgb(212, 191, 133);
}

.header {
  /* border: 1px solid tomato; */
  /* height: 160px; */
  display: flex;
  font-size: 14px;
  /* text-align: ; */
  justify-content: center;
  
}

.header p {
  margin: 10px auto;
}

#main-content {
  /* border: 1px solid tomato; */
  text-align: center;
}

#main-content h2 {
  margin-top: 0;
}

.team-main {
  /* text-align: center; */
  height: 250px;
  transition: all 1.2s;
  display: inline-block;
}

.team-icon {
  display: block;
  margin: 20px auto;
  width: 270px;
  height: 300px;
}

.team-logo {
  font-size: 100px;
  border-bottom: 3px solid rgb(218, 209, 159);
  font-family: 'Franklin Gothic Medium';
  display: inline-block;
  margin: px;
  margin-left: 300px;
}

.team-main:hover {
  transform: translate(-15%, 0px);
}

.team-intro {
  display: inline-block;
  margin-left: 50px;
  margin-top: 67px;
  margin-bottom: 67px;
  color: rgb(238, 232, 199);
  width: 260px;
  height: 110px;
  
  vertical-align: bottom;
}

.team-main:hover .team-intro {
  color: rgb(0, 0, 0);
  transition: all 1.2s;
  background-color: rgb(226, 219, 177);
}

.title {
  /* text-align: left; */
  padding-left: 10%;
  margin-top: 140px;
  font-size: 55px;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto 60px;
  /* max-width: 1200px; */
  width: 100%;
}

.profile {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 40px 50px 50px;
  padding: 15px;
  border-radius: 5%;
  /* box-shadow: 20px 30px 0 rgb(177, 157, 105); */
  background-color: rgb(212, 191, 133);
  color: rgb(248, 250, 255);
}

.profile:hover {
  box-shadow: 20px 30px 0 rgb(177, 157, 105);
  transition: all 1.0s;
}

.member-icon {
  height: 120px;
  width: 120px;
  margin-left: 90px;
}

.member-name {
  text-align: center;
}

.footer {
  /* border: 1px solid tomato; */
  height: 140px;
  margin-top: 80px;
}
