body {
  background-color: rgb(238, 232, 199);
}

.sub-color {
  background-color: rgb(226, 219, 177);
}

.ac-color {
  background-color: rgb(218, 209, 159);
}

.header {
  /* border: 1px solid tomato; */
  /* height: 160px; */
  display: flex;
  font-size: 14px;
  /* text-align: ; */
  justify-content: center;
  
}

.header > p {
  margin: 0 auto 10px;
}

.header > p {
  margin: 100px 10px 0;
}

#main-content {
  /* border: 1px solid tomato; */
  text-align: center;
}

.team-main {
  /* text-align: center; */
  height: 150px auto;
  transition: all 1.2s;
}

.team-logo {
  font-size: 100px;
  border-bottom: 3px solid rgb(218, 209, 159);
  font-family: 'Franklin Gothic Medium';
  display: inline-block;
  margin: px;
}

.team-main:hover {
  transform: translate(-12%, 0px);
}

.team-intro {
  display: inline-block;
  margin-left: 100px;
}

.footer {
  /* border: 1px solid tomato; */
  height: 140px;
}
